<div class="card">
  <div class="card-body">
    <form class="" action="/user/login" method="post">
      <label for="">Email:</label>
      <input type="text" name="email" value="" class="form-control">
      <label for="">Senha:</label>
      <input type="password" name="password" value="" class="form-control">
      <hr>
      <button type="submit" name="button" class="btn btn-success">Login</button>

    </form>

  </div>

</div>
